# This is a basic workflow to help you get started with Actions

name: release-android

# Controls when the workflow will run
on:
  push:
    tags:
      - '*'
# on:
#   push:
#     branches:
#       - main

# on: workflow_dispatch


env:
  package_name: "com.muy.motamot"
  flutter_version: "3.0.5"
  java_version: "12.x"

  # Allows you to run this workflow manually from the Actions tab
  #workflow_dispatch:

# A workflow run is made up of one or more jobs that can run sequentially or in parallel
jobs:
  # This workflow contains a single job called "build"
  build:
    # The type of runner that the job will run on
    runs-on: ubuntu-latest

    defaults:
      run:
        working-directory: ./motamot

    # Steps represent a sequence of tasks that will be executed as part of the job
    steps:
      # Checks-out your repository under $GITHUB_WORKSPACE, so your job can access it
      - name: Checkout code
        uses: actions/checkout@v3

      - uses: little-core-labs/get-git-tag@v3.0.1
        name: Get git tag
        id: tagName

      - name: Setup Java
        uses: actions/setup-java@v1
        with:
          java-version: ${{ env.java_version }}

      # - uses: actions/cache@v2
      #   with:
      #     path: ${{ runner.tool_cache }}/flutter
      #     key: flutter-${{ env.flutter_version }}-stable

      - name: Setup Flutter
        uses: subosito/flutter-action@v2
        with:
          flutter-version: ${{ env.flutter_version }}
          channel: 'stable' # or: 'beta' or 'master'
          cache: true

      - name: Flutter version
        run: flutter --version
      

      - name: Load dependencies
        run: flutter pub get
      
      # Bundle app
      - name: Bundle App
        run: flutter build appbundle

      - uses: ilharp/sign-android-release@v1
        name: Sign app
        # ID used to access action output
        id: sign_app
        with:
          releaseDir: ./motamot/build/app/outputs/bundle/release
          signingKey: ${{ secrets.SIGN_SIGNING_KEY }}
          keyAlias: ${{ secrets.SIGN_ALIAS }}
          keyStorePassword: ${{ secrets.SIGN_KEY_STORE_PASSWORD }}
          keyPassword: ${{ secrets.SIGN_KEY_PASSWORD }}
          buildToolsVersion: 30.0.2

      # Example use of `signedReleaseFile` output -- not needed
      - uses: actions/upload-artifact@v2
        with:
          name: Signed app bundle
          path: ${{env.ANDROID_SIGNED_FILE}}

      - uses: r0adkll/upload-google-play@v1
        with:
          serviceAccountJsonPlainText: ${{ secrets.GOOGLE_SERVICE_ACCOUNT_JSON }}
          packageName: ${{env.package_name}}
          releaseFiles: ${{env.ANDROID_SIGNED_FILE}}
          releaseName: ${{ steps.tagName.outputs.tag }}
          # track: production
          track: internal
          status: draft
          # inAppUpdatePriority: 2
          whatsNewDirectory: ./motamot/whatsnew
          # mappingFile: ./motamot/build/app/outputs/mapping/release/mapping.txt
